[Desktop Entry]
Type=Application
Name=Wallpaper Slide Show
Comment=Make & Set a Wallpaper Slideshow
Exec=gnome-terminal -- /home/j/yor-slideshow/yor-slideshow.sh
Icon=image-x-generic
Terminal=false
Categories=Utility;

